{% extends "layout.html" %}
{% block container %}


<!-- Need to get VULN data from databases and show them here.-->
<!-- vertical -->


<div class="row">
    <div class="col-md-8" style="height:200px">
        <div class="tabs tabs-vertical tabs-left">
            <ul  style="border:10px;overflow:scroll;height:600px">
                <li class="active">
                    <a  href="#popular11" data-toggle="tab" class="status">Select VULN</a>
                </li>
                
                {% for vuln in content['profile_vulns']%}
                <li style="border:1px;background-color: lightblue;margin:3px">
                    <input type="checkbox" class="vCheck" name="{{ vuln["vuln_id"] }}" checked>
                    <a href="#popular11" data-toggle="tab" class="status" style="color:red">{{ vuln["vuln_id"] }}</a>
                </li>
                {% endfor %}
                <!-- PEOP --> 
            </ul>
            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="run" value="run">Run Selected</button>
            <div class="tab-content">
                <div id="popular11" class="tab-pane active" >
                    <p id='title'></p>
                    <p id='body' style="display: none">
                        <!--
                            <h3 id="vuln_heading" style="color:red;"><color=red>Select a Vuln</color></h3>
                            <label id="label_title" class="col-md-3 control-label" for="vulnIDReadOnly">ID</label>
                            <input type="text" value="Read-Only Input" id="vulnIDReadOnly" class="form-control" readonly="readonly">
                            
                            <label id="label_title" class="col-md-3 control-label" for="vulnTitleReadOnly">Title</label>
                            <input type="text" value="Read-Only Input" id="vulnTitleReadOnly" class="form-control" readonly="readonly">
                            <br>
                            <label id="label_title" class="col-md-3 control-label" for="vulnSummaryReadOnly">Title</label>
                            <input type="text" value="Read-Only Input" id="vulnSummaryReadOnly" class="form-control" readonly="readonly">
                            <br>
                            <label id="label_release" class="col-md-3 control-label" for="vulnSeverityinputReadOnly">severity</label>
                            <input type="text" value="Read-Only Input" id="vulnSeverityinputReadOnly" class="form-control" readonly="readonly">
                            <br>
                            <label id="label_release" class="col-md-3 control-label" for="vulnRuleDiscussioninputReadOnly">Version</label>
                            <input type="text" value="Read-Only Input" id="vulnRuleDiscussioninputReadOnly" class="form-control" readonly="readonly">
                            <br>
                            <label id="label_profile" class="col-md-3 control-label" for="vulnRuleCheckinputReadOnly">Check Test</label>
                            <input type="text" value="Read-Only Input" id="vulnRuleCheckinputReadOnly" class="form-control" readonly="readonly">
                            <br>
                            <label id="label_profile" class="col-md-3 control-label" for="vulnRuleCheckinputReadOnly">Status</label>
                            <select id="selectElementId" class="form-control mb-md"> --> 
                                <!-- TODO color these options open is red, not finding is green -->
<!--                                    <option value='profile' style='color:$00FF00'>Not Reviewed</color></option>
                                    <option value='profile'>Open</option>
                                    <option value='profile'>Not a Finding</option>
                                    <option value='profile'>Not Applicable</option>
                            </select>
                            <label id="label_profile" class="col-md-3 control-label" for="vulnRuleCheckinputReadOnly">Severity Override</label>
                            <select id="selectElementId" class="form-control mb-md">
                                    <option value='profile'>Cat I</option>
                                    <option value='profile'>Cat II</option>
                                    <option value='profile'>Cat III</option>
                            </select> -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block scripts %}

<script>
    $(document).on('click', 'ul li a.status', function(e) {
        e.preventDefault();
        console.log("On click ul li a status  Section 2");
        if ($(e.target).text() == 'Select VULN'){
            document.getElementById("title").innerHTML = '';
            var x = document.getElementById("body");
            x.style.display = "none";
        } else {
            $.ajax({
                type: "GET",
                url: "/stig/vuln/" + $(e.target).text(),
                data: {},
                success: function(result) {
                    var x = document.getElementById("body");
                    x.style.display = "block";
                    
                    x.innerHTML = "";
                    var mStr = ""
                    mStr += "<h2>" + $(e.target).text() + "</h2>";
                    mStr += "" + result['vuln']['vuln'][0]['vuln_title'] + "<br>";
                    mStr += "" + result['vuln']['vuln'][0]['vuln_rule_id'] + "<br>";
                    mStr += "" + result['vuln']['vuln'][0]['vuln_rule_severity'] + "<br>";
                    mStr += "" + result['vuln']['vuln'][0]['vuln_rule_discussion'] + "<br>";
                    mStr += "" + result['vuln']['vuln'][0]['vuln_rule_check'] + "<br>";
                    
                    x.innerHTML = mStr;
                    
                    /*var select = document.getElementById('selectElementId');
                                       
                    select.innerHTML = "";
                    var opt = document.createElement('option');
                    opt.value = 'profile';
                    opt.innerHTML = 'Select Profile';
                    select.appendChild(opt);

                    var profile_list = result['profile']['profiles']
                    for (var i in profile_list){
                        var opt = document.createElement('option');
                        opt.value = profile_list[i]['profile_id'];
                        opt.innerHTML = profile_list[i]['profile_title'];
                        select.appendChild(opt);
                    }*/

                },
                error: function(result) {
                    alert('error');
                }
            });
        }      
    });
</script>


<script>
    $(document).on("click", "button", function (e) {
        
        e.preventDefault();
        console.log("WE HAVE CLICKED A BUTTON");
        var vList = [];
        var checkies = document.getElementsByClassName("vCheck");
        for (let index = 0; index < checkies.length; index++) {
            var nCheck = {vuln:checkies[index].name, run:checkies[index].checked};
            //console.log(checkies[index].name + ": " + checkies[index].checked);
            vList.push(nCheck);
        }
        console.log(JSON.stringify(vList));
        // TODO find a place for this data, and pass it on.

        $.ajax({
                        url: '/stig/report',
                        data: JSON.stringify({'vList':vList}),
                        type: 'POST',
                        contentType: 'application/json;charset=UTF-8',
                    success: function(result) {
                        document.write(result); 
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');

                        $('#result').html('<p>status code: '+jqXHR.status+'</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>'+jqXHR.responseText + '</div>');
                        console.log('jqXHR:');
                        console.log(jqXHR);
                        console.log('textStatus:');
                        console.log(textStatus);
                        console.log('errorThrown:');
                        console.log(errorThrown);
                    }
                });
    });
    
</script>

{% endblock %}